.divisor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.nav-item{
    font-size: 20px;
    padding: 10px;
    text-transform: uppercase;
    justify-content: space-between;
}

.cartao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.unidade{
    margin: 2rem;
    border: solid 1px #357599;
}
.nanav{
    display: flex !important;
    justify-content: flex-end !important;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #357599;
    border-bottom: solid 1px #295872;
    box-shadow: #295872;
    
}
.nav-link{
    color: white;
}

.navbar-nav{
    display: flex;
    align-items: center;
    
}
.nav-item:hover{
    opacity: 0.3;
    background: #8dbeda;
    border-radius: 0.2px;
  }
  
.container-fluid{
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
}

a{
    cursor: pointer;
}

.footer{
    display: flex;
    height: 160px;
    justify-content: space-between;
    background-color: #357599;
    flex-direction: column;
    align-items:center;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    padding: 20px;
}

.text-muted{
    font-size: 14px;

}
@media(max-width: 990px) {
    .nanav{
        display: flex !important;
        justify-content: center !important;
    }
    
    
}

h3{
    font-weight: bold;
    background: white;
    border-radius: 10px;
    width: 100%;
    color: #295872;
}

h2{
    font-weight: bold;
    padding: 1rem;
    background: #295872;
    border-radius: 10px;
    width: 100%;
    color: white;
}